body{
    width: 960px;
    margin: 0 auto;

}
body p {
    text-align: left;
}

#tagline {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 30pt;
    background-image: url(/images/background.jpg);
    padding: 20px;
}
h1{
    font-family: 'Dr Sugiyama', cursive;
    font-size: 50pt;
    font-stretch: expanded;
    color: goldenrod;
    text-shadow: darkgrey 2px 2px;
}
.image{
    display: inline-block;
    align-items: center;
    width: 250px;
    height: 250px;
    box-shadow: 4px 4px;
    padding: 10px;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    font-size: 24pt;
    list-style: none;
}

